@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="overlay-background">
    <div id="notification-form" class="row input-field">
    </div>
</div>

<button id="notification-form-button" onclick="on()">Click me for overlay</button>
