@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="overlay-background">
    <div id="notification-form" class="row input-field notification">
    </div>
</div>

<button id="notification-form-button" onclick="showNotificationForm()">Click me for new form</button>

@section Scripts {
    <script src="~/js/FetchNotifications.js"></script>
}